<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamkassvi.ascend">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_ascend"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.teamkassvi.ascend.StaticActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.teamkassvi.ascend.DetailedReaction"
            android:parentActivityName="com.teamkassvi.ascend.StaticActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.teamkassvi.ascend.StaticActivity" />
        </activity>
        <activity
            android:name="com.teamkassvi.ascend.WeeklyReports"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.teamkassvi.ascend.PlayLastAudio"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.teamkassvi.ascend.StartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.teamkassvi.ascend.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.teamkassvi.ascend.ListenAudios" />
        <activity android:name="com.teamkassvi.ascend.RealtimeActivity" />
        <activity android:name="com.teamkassvi.ascend.SignUpActivity" />
        <activity android:name="com.teamkassvi.ascend.CalendarActivity" />
        <activity android:name="com.teamkassvi.ascend.GetStartedActivity" />
        <activity android:name="com.teamkassvi.ascend.ViewpagerActivity"></activity>

        <activity android:name="com.teamkassvi.ascend.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>